/* 开始 */
.top {
	height: 40px;
	line-height: 40px;
	position: relative;
}

.top .topLeft li {
	float: left;
}

.top .topLeft li:first-child {
	width: 220px;
	height: 40px;
	margin-left: 110px;
	position: relative;
	z-index: 2;
}

.top .topLeft li:first-child a {
	width: 100%;
	height: 100%;
	display: block;
	background: url(./images/ost-bg.png) 0px -38px;
}

/*移动到DNF标签显示DNF大图片*/
.top .topLeft li:nth-child(2) a:hover .dnf {
	display: block;
}

/*默认隐藏DNF大图*/
.top .topLeft .dnf {
	width: 970px;
	height: 185px;
	padding: 0 3px 3px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -488px;
	display: none;
	z-index: 1;
}

/*右边隐藏图标的设置*/
.top .topRigth li {
	float: left;
}

.top .topRigth li:first-child {
	margin-right: 22px;
	position: relative;
	z-index: 2;
}

.top .topRigth li:first-child span {
	width: 18px;
	height: 18px;
	display: block;
	margin-top: 12px;
	float: left;
	background: url(images/green_icon.png);
}

.topRigth span {
	margin-right: 12px;
}

.top .topRigth li:nth-child(2) a:hover .paihangbang {
	display: block;
}

.top .topRigth .paihangbang {
	width: 750px;
	height: 185px;
	padding: 0 3px 3px;
	background: #fff;
	position: absolute;
	top: 30px;
	left: 76%;
	margin: 0 0 0 -488px;
	display: none;
	z-index: 1;
}

/* 结束 */

/* 导航栏 开始 */
.header {
	position: absolute;
	left: 0;
	top: 42px;
	width: 100%;
	height: 84px;
	background: rgba(0, 0, 0, 0.8);
	min-width: 1280px;
}

.header h1 {
	width: 200px;
	height: 54px;
	margin-top: 15px;
	padding-right: 30px;
}

.header h1 a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(images/logo.png);
	z-index: -9999;
}

.header .main-nav ul li {
	float: left;
	width: 110px;
	height: 84px;
	text-align: center;
}

.header .main-nav ul li:hover {
	background: url(images/index.png) no-repeat;
}

.header .main-nav ul li a {
	display: block;
	width: 110px;
	height: 64px;
	padding-top: 20px;
	color: #c9c9dd;
	font-size: 18px;
	line-height: 30px;
}

.header .main-nav ul li a span {
	display: block;
	font-size: 12px;
	color: #858792;
}

.header .main-nav ul li a:hover {
	color: #e6d3a1;
}

.header .login {
	margin-top: 21px;
	padding-left: 18px;
}

.header .login .loginLeft {
	margin-right: 8px;
}

.header .login .loginLeft a {
	display: block;
	width: 42px;
	height: 42px;
	border: 1px solid #e6d3a1;
	border-radius: 50px;
}

.header .login .loginRight {
	line-height: 22px;
}

.header .login .loginRight a {
	font-size: 16px;
	color: #fff;
}

.header .login .loginRight p {
	color: #858792;
}

/* header样式结束 */

/* 子导航栏开始 */
.sub-nav {
	position: absolute;
	height: 230px;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 84px;
	left: 0;
	padding-top: 15px;
	padding-bottom: 30px;
	display: none;
}

.w:hover {
	display: block;
}

.sub-nav ul {
	width: 970px;
	height: 240px;
	margin: 0 auto;
	padding-left: 230px;
}

.sub-nav ul li {
	float: left;
	width: 110px;
	text-align: center;
}

.sub-nav ul li a {
	height: 30px;
	line-height: 30px;
	display: block;
	font-size: 14px;
	color: #c9c9dd;
	float: inline;
}

.sub-nav ul li a:hover {
	color: #f3c258;
	text-decoration: underline;
}

.sub-nav ul li a i {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background: url(images/index.png) no-repeat;
}

.sub-nav ul li a i.icon-new {
	background-position: -137px -68px;
}

.sub-nav ul li a i.icon-hot {
	background-position: -163px -68px;
}

.sub-nav ul li a i.icon-guaed {
	background-position: -136px -5px;
}

.sub-nav ul li a i.icon-health {
	background-position: -137px -36px;
}

.header .w:hover .sub-nav {
	display: block;
}

/* 子导航栏结束 */

/* wrapper层开始 */
.wrapper {
	background: url(images/main_bg.jpg) center no-repeat;
	padding-top: 230px;
}

/* 主要层开始 */
.wrapper .main {
	padding-top: 280px;
	height: 342px;
}

/* 左部分 */
.wrapper .main .mainLeft {
	width: 964px;
	height: 342px;
	background: url(images/rotate_bg.png) no-repeat;
}

.wrapper .main .mainLeft .banner {
	width: 604px;
	height: 342px;
}

.wrapper .main .mainLeft .banner ul li {
	float: left;
	width: 120px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

.wrapper .main .mainLeft .banner ul li a {
	color: #b1b1b1;
	display: block;
}

.wrapper .main .mainLeft .banner ul li a.active {
	background: rgba(255, 255, 255, 0.15);
	color: #f3c258;
}

.wrapper .main .mainLeft .banner ul li a:hover {
	background: rgba(255, 255, 255, 0.15);
	color: #f3c258;
}

.wrapper .main .mainLeft .banner ul li:last-child {
	width: 120px;
}

.wrapper .main .mainLeft .xw {
	width: 360px;
	float: left;
}

.wrapper .main .mainLeft .xw1 ul {
	width: 340px;
	float: left;
	margin-left: 10px;
}

.wrapper .main .mainLeft .xw1 ul li {
	float: left;
	width: 56.6px;
	text-align: center;
}

.wrapper .main .mainLeft .xw1 ul li a {
	color: #b1b1b1;
	display: block;
	height: 31.5px;
	padding-top: 10px;
}

.wrapper .main .mainLeft .xw1 ul li .a {
	background: url(images/index.png) no-repeat;
	background-position: -50px -42px;
}

.wrapper .main .mainLeft .xw1 ul li .a {
	color: #f3c258;
}

.wrapper .main .mainLeft .xw1 ul li:hover {
	background: url(images/index.png) no-repeat;
	background-position: -50px -42px;
}

.wrapper .main .mainLeft .xw1 ul li:hover a {
	color: #f3c258;
}

.wrapper .main .mainLeft .xw1 hr {
	margin: 0;
	padding: 0;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
	border-color: #000;
	width: 340px;
	margin-left: 10px;
}

.wrapper .main .mainLeft .xw2 h3 {
	background: rgba(147, 147, 147, 0.3);
	color: #ffeab3;
	width: 340px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
}

.wrapper .main .mainLeft .xw2 ul {
	width: 350px;
	height: auto;
}

.wrapper .main .mainLeft .xw2 ul li {
	line-height: 35px;
}

.wrapper .main .mainLeft .xw2 ul li a {
	width: 250px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	padding-left: 10px;
	color: #c9c9dd;
}

.wrapper .main .mainLeft .xw2 ul li a:hover {
	text-decoration: underline;
}

.wrapper .main .mainLeft .xw2 ul li span {
	float: right;
	padding-right: 2px;
	color: #c9c9dd;
}

/* 右边内容 */
.wrapper .main .sp {
	width: 236px;
	height: 342px;
	float: left;
}

.wrapper .main .sp a {
	display: block;
	width: 100%;
	background: url(images/index.png) no-repeat;
}

.wrapper .main .sp a:first-child {
	height: 128px;
	overflow: hidden;
	background-position: 0 -219px;
}

.wrapper .main .sp a:first-child video {
	width: 279px;
	margin-left: -21px;
}

.wrapper .main .sp a:nth-child(2) {
	height: 106px;
	background-position: 0 -350px;
}

.wrapper .main .sp a:nth-child(3) {
	height: 109px;
	background-position: 0 -461px;
}

.wrapper .quick_entrance {
	margin-top: 28px;
}

.wrapper .quick_entrance a {
	float: left;
	margin-right: 12px;
}

.wrapper .quick_entrance a:last-child {
	margin-right: 0;
}

/* 快速入口结束
 .wrapper结束*/

/* 英雄列表 */
.herolist {
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(images/ny_con_bg.jpg) no-repeat center top #f8fafb;
}

.herolist .herolist-title {
	padding-left: 28px;
	background: url(images/icon_hero.png) no-repeat left center;
}

.herolist .herolist-title {
	font-weight: bold;
	color: #323235;
}

.herolist {
	margin-top: 22px;
}

.herolist .herolist-nav ul li {
	float: left;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 400px;
	border-bottom: 3px solid #d4d4d4;
}

.herolist .herolist-nav ul li a {
	display: block;
	color: #4b4b4b;
}

.herolist .herolist-nav ul li.active {
	border-bottom-color: #3589dd;
	border-radius: 0 0 3px 3px;
}

.herolist .herolist-nav ul li.active a {
	color: #3589dd;
	font-weight: bold;
}

.herolist .herolist-box {
	padding: 35px;
	border: 2px solid #e8e8e8;
	border-top: 0px;
}

.herolist .herolist-box .herolist-types {
	margin-top: 35px;
	margin-bottom: 40px;
	background: #efefef;
	height: 106px;
	position: relative;
	border-radius: 5px;
}

.herolist .herolist-box .herolist-types .types-left {
	float: left;
	width: 80px;
	height: 106px;
	font-size: 16px;
	background: #2c88e2;
	color: #fff;
	text-align: center;
	border-radius: 5px 0 0 5px;
}

.herolist .herolist-box .herolist-types .types-left li {
	height: 53px;
	line-height: 53px;
}

.herolist .herolist-box .herolist-types .types-name {
	float: left;
	height: 53px;
	line-height: 53px;
	width: 784px;
}

.herolist .herolist-box .herolist-types .types-name li {
	float: left;
	width: 90px;
	padding-left: 15px;
	color: #686868;
	cursor: pointer;
}

.herolist .herolist-box .herolist-types .types-name li span {
	display: inline-block;
	width: 16px;
	height: 16px;
	color: #b4b4b4;
	margin-right: 7px;
	border-width: 1px;
	border-radius: 50%;
	border-style: solid;
	position: relative;
	vertical-align: sub;
}

.herolist .herolist-box .herolist-types .types-name li.active span i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #3589dd;
	position: absolute;
	border-radius: 50%;
	margin-left: 2px;
	margin-top: 2px;
}

.herolist .herolist-box .herolist-types .herosearch {
	width: 240px;
	height: 42px;
	position: absolute;
	right: 32px;
	top: 50%;
	border: 1px solid #d2d2d2;
}

.herolist .herolist-box .herolist-types .herosearch input {
	width: 186px;
	height: 22px;
	background: transparent;
	border-right: 1px solid #d5d5d5;
	margin-top: 10px;
	padding-left: 11px;
	color: #7f7f80;
	font-size: 12px;
	float: left;
}

.herolist .herolist-box .herolist-types .herosearch a {
	width: 22px;
	height: 22px;
	display: inline-block;
	float: left;
	margin-top: 10px;
	padding-left: 16px;
	background: url(images/vl_search_icon.png) no-repeat center;
}

.herolist .herolist-box .herolist-content ul li {
	float: left;
	margin-bottom: 35px;
	margin-right: 30px;
	width: 85px;
	text-align: center;
}

.herolist .herolist-box .herolist-content ul li:nth-child(10n) {
	margin-right: 0;
}

.herolist .herolist-box .herolist-content ul li a img {
	width: 83px;
	height: 83px;
	border: 2px solid #258df2;
	border-radius: 10px 0 10px 0;
}

.footer {
	height: 362px;
	background: url(images/bg_footer.jpg) center 0;
}

.footer .footer_top {
	height: 61px;
	padding-top: 82px;
	padding-bottom: 14px;
	border-bottom: 2px solid #d4d4d4;
}

.footer .footer_top a {
	float: left;
	height: 61px;
}

.footer .footer_top a:first-child {
	width: 256px;
	background: url(images/spr.png);
}

.footer .footer_top a:nth-child(2) {
	width: 59px;
	background: url(images/spr.png) -293px 0;
}

.footer .footer_bottom {
	margin-top: 17px;
}

.footer .footer_bottom .footer_bottom_left {
	width: 505px;
}

.footer .footer_bottom .footer_bottom_left p {
	font-size: 12px;
	color: #6d6d6d;
	line-height: 20px;
}

.footer .footer_bottom .footer_bottom_left p span {
	float: left;
	margin-right: 12px;
}

.footer .footer_bottom .footer_bottom_left p:nth-child(1) {
	font-weight: bold;
	color: #333333;
}

.footer .footer_bottom .footer_bottom_left p:nth-child(3) {
	margin-top: 10px;
}

.footer .footer_bottom .footer_bottom_right {
	margin-left: 45px;
	font-size: 12px;
	line-height: 20px;
	color: #6d6d6d;
	width: 650px;
}

.footer .footer_bottom .footer_bottom_right a {
	color: #646467;
}

.footer .footer_bottom .footer_bottom_right ul {
	margin-bottom: 8px;
}

.footer .footer_bottom .footer_bottom_right ul li {
	float: left;
}

.footer .footer_bottom .footer_bottom_right ul li a {
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	border-right: 1px solid #91496f;
	line-height: 14px;
	display: block;
}

.footer .footer_bottom .footer_bottom_right ul li:first-child a {
	padding-left: 0;
}

.footer .footer_bottom .footer_bottom_right ul li:last-child a {
	padding-right: 0;
	border-right: 0;
}

.footer .footer_bottom .footer_bottom_right p {
	line-height: 20px;
}

.footer .footer_bottom .footer_bottom_right .copyright p {
	font-size: 10px;
}

.footer .footer_bottom .footer_bottom_right p img {
	vertical-align: middle;
	margin-right: 3px;
}
